# Cardano

## Fetch all Cardano addresses rewards data

In [128]:
import pandas as pd
import requests
import json
import concurrent.futures
from tqdm import tqdm

def fetch_rewards(address):
    """Function to fetch rewards for a single address"""
    base_url = "https://api.kiln.fi/v1/ada/rewards"
    headers = {
        "accept": "application/json; charset=utf-8",
        "authorization": "Bearer kiln_t7OecWRunrxPLoNI5DCOooiLuZTT6ify2Ywjzeri"
    }
    params = {
        "start_date": "2024-09-01",
        "end_date": "2024-09-30",
        "stake_addresses": address
    }
    
    try:
        response = requests.get(base_url, headers=headers, params=params)
        response.raise_for_status()
        return {address: response.json()}
    except requests.exceptions.RequestException as e:
        print(f"Error processing address {address}: {str(e)}")
        return {address: None}

df = pd.read_csv('Addresses.csv')

cardano_addresses = df[df['id'].str.contains('cardano_', na=False)]['address'].tolist()

results = {}

max_workers = 10

with concurrent.futures.ThreadPoolExecutor(max_workers=max_workers) as executor:
    future_to_address = {executor.submit(fetch_rewards, address): address 
                        for address in cardano_addresses}
    
    for future in tqdm(concurrent.futures.as_completed(future_to_address), 
                      total=len(cardano_addresses),
                      desc="Fetching rewards"):
        result = future.result()
        results.update(result)

first_address = "stake1uxshuuepjhaewd7ch8th96za0fj06t9plzjymjnr3h3k07cfyd2e6"
second_address = "stake1u8j53lkzw5tv4p08am6uunwrjzrvpzfas8xzxcepf3hvrfsr7u3yu"

if first_address in results:
    results[first_address]["public_commission"] = 0.05
    results[first_address]["kiln_commission"] = 0.03
    results[first_address]["pool_id"] = 0

if second_address in results:
    results[second_address]["public_commission"] = 0.03
    results[second_address]["kiln_commission"] = 0.03
    results[second_address]["pool_id"] = 1

with open('cardano_rewards.json', 'w') as f:
    json.dump(results, f, indent=2)

print(f"\nProcessed {len(results)} addresses")
print(f"Results saved to cardano_rewards.json")

Fetching rewards: 100%|██████████| 2/2 [00:00<00:00, 13.12it/s]

Processed 2 addresses
Results saved to cardano_rewards.json

# Create Dataset

In [129]:
import json
from decimal import Decimal
import pandas as pd

# Read the JSON data
with open('cardano_rewards.json', 'r') as f:
    data = json.load(f)

# Create lists to store the data
addresses = []
total_rewards = []
commissions = []
kiln_commissions = []
pool_ids = []

# Process each address
for address, address_data in data.items():
    address_total = Decimal('0')
    
    if address_data and 'data' in address_data:
        # Sum up rewards
        for daily_data in address_data['data']:
            if 'rewards' in daily_data:
                rewards = Decimal(daily_data['rewards'])
                address_total += rewards
        
        # Get commission and rebate
        commission = Decimal(str(address_data.get('public_commission', 0)))
        kiln_commission = Decimal(str(address_data.get('kiln_commission', 0)))
        
        # Convert rewards to ADA
        rewards_ada = address_total / Decimal('1000000')
        
        # Append to lists
        addresses.append(address)
        total_rewards.append(float(rewards_ada))
        commissions.append(f"{float(commission):.1%}")
        kiln_commissions.append(f"{float(kiln_commission):.1%}")
        pool_ids.append(address_data.get('pool_id', None))

# Create DataFrame
df = pd.DataFrame({
    'Address': addresses,
    'Gross Rewards (ADA)': total_rewards,
    'Public Commission': commissions,
    'Kiln Commission': kiln_commissions,
    'Pool ID': pool_ids
})

display(df)

,Address,Gross Rewards (ADA),Public Commission,Kiln Commission,Pool ID
0,stake1u8j53lkzw5tv4p08am6uunwrjzrvpzfas8xzxcep...,112942.217751,3.0%,3.0%,1
1,stake1uxshuuepjhaewd7ch8th96za0fj06t9plzjymjnr...,37.511621,5.0%,3.0%,0

# Gross Rewards

In [130]:
display(df[['Pool ID', 'Gross Rewards (ADA)']].sort_values('Pool ID'))

   Pool ID  Gross Rewards (ADA)
1        0            37.511621
0        1        112942.217751

# Reward Before Public Commission

In [131]:
rewards_before_commission = []

for i in range(len(df)):
    public_commission = float(df['Public Commission'].iloc[i].strip('%')) / 100
    rewards = df['Gross Rewards (ADA)'].iloc[i]
    
    before_commission = rewards / (1 - public_commission)
    rewards_before_commission.append(before_commission)
    

# Add gross and net rewards columns
df['Rewards Before Public Commission (ADA)'] = rewards_before_commission

# Calculate totals
total_gross_rewards_ada = sum(rewards_before_commission)

display(df[['Pool ID', 'Rewards Before Public Commission (ADA)', 'Gross Rewards (ADA)']].sort_values('Pool ID'))

   Pool ID  Rewards Before Public Commission (ADA)  Gross Rewards (ADA)
1        0                               39.485917            37.511621
0        1                           116435.276032        112942.217751

# Net Rewards

In [132]:

net_rewards = []

for i in range(len(df)):
    public_commission = float(df['Public Commission'].iloc[i].strip('%')) / 100
    kiln_commission = float(df['Kiln Commission'].iloc[i].strip('%')) / 100
    rewards_before_commission = df['Rewards Before Public Commission (ADA)'].iloc[i]
    
    net = rewards_before_commission * (1 - kiln_commission)
    net_rewards.append(net)

df['Net Rewards (ADA)'] = net_rewards

display(df[['Pool ID', 'Net Rewards (ADA)']].sort_values('Pool ID'))

   Pool ID  Net Rewards (ADA)
1        0          38.301339
0        1      112942.217751

# Rebate

In [133]:
rebates = []
for i in range(len(df)):
    net_rewards = df['Net Rewards (ADA)'].iloc[i]
    gross_rewards = df['Gross Rewards (ADA)'].iloc[i]
    
    rebate = net_rewards - gross_rewards
    rebates.append(rebate)

df['Rebate (ADA)'] = rebates

display(df[['Pool ID', 'Rebate (ADA)']].sort_values('Pool ID'))

   Pool ID  Rebate (ADA)
1        0      0.789718
0        1      0.000000

# Kiln Commission

In [134]:
kiln_commissions = []
for i in range(len(df)):
    kiln_commission = float(df['Kiln Commission'].iloc[i].strip('%')) / 100
    rewards_before_commission = df['Rewards Before Public Commission (ADA)'].iloc[i]
    
    kiln_commission_amount = rewards_before_commission * kiln_commission
    kiln_commissions.append(kiln_commission_amount)

df['Kiln Commission (ADA)'] = kiln_commissions

display(df[['Pool ID', 'Kiln Commission (ADA)']].sort_values('Pool ID'))

   Pool ID  Kiln Commission (ADA)
1        0               1.184578
0        1            3493.058281