In [32]:
import pandas as pd

data = {
    'delegated_amount': [1000 + 19000005 + 1025200.4686959332112],
    'monthly_apy': [0.0075],
    'public_commission': [0.1],
    'kiln_commission': [0.05]
}
df = pd.DataFrame(data)

display(df)

   delegated_amount  monthly_apy  public_commission  kiln_commission
0      2.002621e+07       0.0075                0.1             0.05

# Gross Rewards


# Net Rewards
df['net_rewards'] = df['gross_rewards'] * (1 - df['public_commission'] - df['kiln_commission'])

display(df)

In [33]:
df['gross_rewards'] = df['delegated_amount'] * df['monthly_apy'] * (1 - df['public_commission'])

display(df[['gross_rewards']])

   gross_rewards
0  135176.886914

# Rewards before public commission

In [34]:
df['rewards_before_public_commission'] = df['gross_rewards'] / (1 - df['public_commission'])

display(df[['rewards_before_public_commission']])

   rewards_before_public_commission
0                     150196.541015

# Net Rewards

In [35]:
df['net_rewards'] = df['rewards_before_public_commission'] * (1 - df['kiln_commission'])

display(df[['net_rewards']])

     net_rewards
0  142686.713964

# Kiln Rebates

In [36]:
df['kiln_rebate'] = df['rewards_before_public_commission'] - df['net_rewards']

display(df[['kiln_rebate']])

   kiln_rebate
0  7509.827051

# Kiln Rewards

In [37]:
df['kiln_rewards'] = df['rewards_before_public_commission'] *  df['kiln_commission']

display(df[['kiln_rewards']])

   kiln_rewards
0   7509.827051